@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h6 {
    font-family: 'Open Sans', sans-serif;
    color: #71797E;
    padding-top: 10px;
}

.home-content {
    text-align: left;
    padding-top:60px;
  }

  .link {
    color: #088F8F;
    text-decoration: none;
  }
  .link:hover {
    color: #023020	;
 }